@{
    ViewData["Title"] = "Política de Privacidad";
}

<h2>Política de Privacidad</h2>
<p>-----------------------------------------------------------------------</p>
<p>En nuestro sitio web, la identificación de activos es un proceso fundamental en la gestión de la seguridad de la información. Es importante para nosotros que nuestros usuarios comprendan cómo se recopilan, utilizan y protegen sus datos personales.</p>
<p>La identificación de activos nos permite conocer qué activos de información posee nuestra empresa, dónde se encuentran, quién tiene acceso a ellos y cuál es su valor para la organización. Con esta información, podemos tomar medidas para proteger nuestros activos de información de posibles amenazas y priorizar la asignación de recursos para su protección.</p>


<p>Gracias por utilizar nuestro sitio web.</p>